table,tr,td{
	border: 1px solid;
	border-collapse: collapse;
}
button{
	width: 60px;
	height: 60px;
}
#box{
	width: 245px;
	height: 60px;
	text-align: right;
}
body{
	margin-left: 600px;
	margin-top: 150px; 
}
input{
	font-size: large;
}
#b1,#b2{
	width: 245px;
}